@{
    ViewData["Title"] = "Biblioteca UFS - Projeto Referência";
}

<div class="text-center">
    <h2 class="display-12">Bem-vindo ao Projeto Referência em .NET 6</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
