/CodigoCore/BibliotecaCore/BibliotecaCore2/bin
/CodigoCore/BibliotecaCore/BibliotecaCore2/obj
/Codigo/Biblioteca/BibliotecaWeb/bin
/Codigo/Biblioteca/BibliotecaWeb/obj
/Codigo/Biblioteca/Core/bin
/Codigo/Biblioteca/Core/obj
/Codigo/Biblioteca/Service/bin
/Codigo/Biblioteca/Service/obj
/Codigo2020/Biblioteca/BibliotecaWeb/obj
/Codigo2020/Biblioteca/BibliotecaWeb/bin
/Codigo2020/Biblioteca/Core/obj
/Codigo2020/Biblioteca/Core/bin
/Codigo2020/Biblioteca/Service/obj
/Codigo2020/Biblioteca/Service/bin
/Codigo2020/Biblioteca/BibliotecaAPI/bin
/Codigo2020/Biblioteca/BibliotecaAPI/obj
/Codigo2020/Biblioteca/BibliotecaWebTests/bin
/Codigo2020/Biblioteca/BibliotecaWebTests/obj
/Codigo2020/Biblioteca/ServiceTests/bin
/Codigo2020/Biblioteca/ServiceTests/obj
/Codigo2022/Biblioteca2022/BibliotecaWEB/obj
/Codigo2022/Biblioteca2022/BibliotecaWEB/bin
/Codigo2022/Biblioteca2022/Util/bin
/Codigo2022/Biblioteca2022/Util/obj
/Codigo2022/Biblioteca2022/Core/bin
/Codigo2022/Biblioteca2022/Core/obj
/Codigo2022/Biblioteca2022/Service/obj
/Codigo2022/Biblioteca2022/Service/bin
/Codigo2022/Biblioteca2022/BibliotecaWEBTests/bin
/Codigo2022/Biblioteca2022/BibliotecaWEBTests/obj
/Codigo2022/Biblioteca2022/ServiceTests/bin
/Codigo2022/Biblioteca2022/ServiceTests/obj
/Codigo2022/Biblioteca2022/.vs
/Codigo2022/Biblioteca2022/BibliotecaAPI/obj
/Codigo2022/Biblioteca2022/BibliotecaAPI/bin
/Codigo2020/Biblioteca/.vs
