/CodigoCore/BibliotecaCore/BibliotecaCore2/bin
/CodigoCore/BibliotecaCore/BibliotecaCore2/obj
/Codigo/Biblioteca/BibliotecaWeb/bin
/Codigo/Biblioteca/BibliotecaWeb/obj
/Codigo/Biblioteca/Core/bin
/Codigo/Biblioteca/Core/obj
/Codigo/Biblioteca/Service/bin
/Codigo/Biblioteca/Service/obj
