<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BibliotecaEntities" connectionString="metadata=res://*/ModelBiblioteca.csdl|res://*/ModelBiblioteca.ssdl|res://*/ModelBiblioteca.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=biblioteca&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>