@model Models.LivroModel

<h4>Editar Livro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdLivro" class="control-label"></label>
                <input asp-for="IdLivro" readonly class="form-control" />
                <span asp-validation-for="IdLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEditora" class="control-label"></label>
                <select asp-for="IdEditora" asp-items="@Model.ListaEditoras" class="form-control"></select>
                <span asp-validation-for="IdEditora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPublicacao" class="control-label"></label>
                <input asp-for="DataPublicacao" class="form-control" />
                <span asp-validation-for="DataPublicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resumo" class="control-label"></label>
                <input asp-for="Resumo" class="form-control" />
                <span asp-validation-for="Resumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
